* {
  margin: 0;
  padding: 0;
}

.sidebar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(166, 189, 223);
  color: white;
  height: 80px;
  padding: 2rem;
  gap: 0.5rem;

  section {
    display: grid;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    background: rgba(158,182,218,255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    &:hover{
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px inset;
    }
    
    nav {
      display: flex;
      align-self: center;
      flex-direction: column;

      h3 {
        display: none;
      }
    }


  }
}

@media screen and (min-width: 320px) {
  .sidebar {
    section {
      width: 70px;
      height: 70px;
      nav {
        h3 {
          display: block;
        }
      }
    }
  }
 }

@media screen and (min-width: 768px) {
  .sidebar {
    flex-direction: column;
    width: 100px;
    height: 100%;
  }
}
