.calendar {
display: flex;
flex-direction: column-reverse;
height: auto;
max-width: 770px;
color: rgb(92 132 178);
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

.arrow-nav {
  background: #ffe4e4;
}

table {
  padding: 10px;
  width: 100%;
  height: 600px;
  max-height: 300px;
  text-align: center;
  background-color: white;

  th {
    border-bottom: 1px dashed rgba(48, 87, 133);

    .header {
      display: flex;
      align-items: center;
      height: 100px;
      padding: 20px;
      background-color: white;
      justify-content: space-between;
    }
    .arrows {
      cursor: pointer;
    }
    h1{
      font-size: 20px;
    }
  }

  td {
    vertical-align: middle;
    text-align: -webkit-center;

    .days {
      font-size: 14px;
      border-radius: 50%;
      color: white;
      font-weight: 400;
      width: 100%;
      color: rgba(48, 87, 133);
      transition: 0.3s;
      cursor: pointer;
      height: 0;
      padding-top: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: rgb(148, 187, 233);
        color: white;
        font-weight: 700;
      }
      p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .adjacentDays {
        color: rgb(216 224 235);
      }
    }
  }
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
.calendar {
  table {
    max-height: 500px;
    width: 700px;
    th {
      h1 {
        font-size: 25px;
      }
    }
  }
}
}

@media screen and (min-width: 1024px) {
.calendar {
  table {
    max-height: 600px;
    width: 700px;
    th {
      h1 {
        font-size: 25px;
      }
    }
  }
}
}
