<div class="calendar">
    <table>
      <tr>
        <th colspan="7">
          <div class="header">
            <span class="material-icons arrows" (click)="getPreviousMonth(monthIndex)"> chevron_left </span>            
            <h1>{{this.year}}<br>  {{ capitalize(monthsConfig[monthIndex].monthTitle) }}</h1>
            <span class="material-icons arrows" (click)="getNextMonth(monthIndex)"> chevron_right </span>
          </div> 
        </th>
      </tr>
      <ng-container *ngFor="let week of months[monthIndex]">
        <tr>
          <td *ngFor="let day of week">
            <ng-container
              ><div class="days">
                <p *ngIf="isDayOfMonth(day, monthIndex); else adjacentDay">
                  {{ day.getDate() }}
                </p>
              </div>
              <ng-template #adjacentDay>
                <p class="adjacentDays">{{ day.getDate() }}</p>
              </ng-template>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
